<div class="clearfix"></div>
{% for(var i=0, l=contact_list.length; i<l; i++) { %}
	<div class="address-box">
		<p class="h6 flex align-center">
			<b> {%= __("Section ") %} {%=  contact_list[i].code_section %} : {%=  contact_list[i].nom_de_section %}</b>


			<a href="/app/Form/Section/{%= encodeURIComponent(contact_list[i].name) %}"
				class="btn btn-xs btn-default ml-auto">
				{%= __("Modifier") %}
			</a>
		</p>


	</div>
{% } %}
{% if(!contact_list.length) { %}
<p class="text-muted small">{%= __("Aucune section ajoutée pour le moment.") %}</p>
{% } %}
<p><button class="btn btn-xs btn-default btn-contact">
	{{ __("Ajouter Section") }}</button>
</p>
